@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
body {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
    
}
section {
    padding: 10px;
    display: flex;
    flex-direction: column;
    width: 400px;
    border-radius: 6px;
    background-image: url(images/section.jpg);
    background-position: center;
    background-size: cover;
    position: relative;
}
section h1 {
    text-align: center;
}
form {
    display: flex;
    flex-direction: column;
}
form  input {
    margin: 5px 0;
    padding: 5px 5px;
    outline: 0;
    border: 1px solid#000;
    border-radius: 6px;

}
form  input[type='submit'] {
    background-color: #17f;
    border: 0;
    color: #fff;
    margin-top: 15px;
    padding: 6px 0;

}
.Erreur {
    color: red;
    margin: 10px 0;
    text-align: center;
}
.message {
    color: #fff;
    font-size: 25px;
}
.content {
    width: 100%;
    position: absolute;
    top: 50%;
    transform: translateY(-50%);
    text-align: center;
    color: #fff;
}
.content h1 {
    font-size: 50px;
}
.content p {
    margin: 20px auto;
    font-weight: 100;
    line-height: 25px;
}
button {
    width: 200px;
    padding: 15px 0;
    text-align: center;
    margin: 20px 150px;
    border-radius: 25px;
    font-weight: bold;
    border: 2px solid #009688;
    background: transparent;
    color: #fff;
    cursor: pointer;
    position: relative;
    overflow: hidden;
}
span {
    background: #009688;
    height: 100%;
    width: 0;
    border-radius: 25px;
    position: absolute;
    left: 0;
    bottom: 0;
    z-index: -1;
    transition: 0.5s;
}
button:hover span {
    width: 100%;
}
button:hover {
    border: none;
}
a {
    text-decoration: none;
    color: #fff;
    text-transform: uppercase;
}
.inscrire {
    color: #000;
}
.bienvenu_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("images/main.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.autent_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("images/authentification.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}
.compte_content {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    height: 100%;
    background-image: url("images/authentification.jpg");
    background-position: center;
    background-size: cover;
    position: relative;
}